* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    background-color: silver;
    text-align: center;
    padding: 25px;
}

footer {
    background-color: grey;
    text-align: center;
    padding: 25px;
    display: block;
    clear: both;
}

.navbar {
    background-color: hsl(0, 0%, 15%);
    height: 50px;
}

aside {
    width: 20%;
    float: left;
    padding: 10px;
}

section {
    width: 40%;
    float: left;
    padding: 10px;
}

article {
    width: 40%;
    float: left;
    padding: 10px;
}

@media screen and (max-width:600px) {

    aside,
    section,
    article {
        width: 100%;
    }
}