h1::font-letter {
    font-size: 2em;
    font-style: italic;
}

p::first-line {
    background-color: yellow;
}

p::selection {
    background-color: brown;
    color: greenyellow;
}

#fruit li::before {
    content: "✔️";
}

#apple::after {
    content: "🍎";
}

#orange::after {
    content: "🍊";
}

#banana::after {
    content: "🍌";
}

#fruit li::marker {
    content: "✅";
}